body {
    background: #AAA;
}

body > .wrap {
    position: relative;
    display: flex;
}

.sidebar-wrapper {
    min-width: 380px;
    height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 380px;
    height: inherit;
    padding: 30px;
    color: white;
    background: #007070;
    border-left: 30px solid #004040;
}

.sidebar header h1 {
    margin-bottom: 0;
    font-size: 4em;
}

.sidebar header h1 .sharp {
    color: #003030;
}

.sidebar header h1 .salt {
    color: #CCF0F0;
    border-bottom: 4px solid rgba(255,255,255,0.2);
}

.sidebar header h1 a {
    color: white;
}

.sidebar header h1 a:hover .sharp {
    color: #f54f41;
}

.sidebar header h1 a:hover .salt {
    border-bottom-color: #f54f41;
}

.sidebar header h2 {
    margin-top: 10px;
    padding-left: 31px;
    font-size: 1.2em;
    font-weight: normal;
}

.sidebar nav {
    margin-top: 40px;
}

.sidebar .vertical.menu {
    background: #003030;
    width: 100%;
}

.sidebar .vertical.menu .item::before {
    background: rgba(0,0,0,0.3);
}

.sidebar .vertical.menu .item:hover,
.sidebar .vertical.menu .item.active {
    background: #002020;
}

.sidebar .vertical.menu .item:hover p {
    color: #f54f41;
}

.sidebar .menu .item h4 {
    color: white;
    margin-bottom: 0;
}

.sidebar .menu .item p {
    margin-top: 0.4em;
    color: #00E9E9;
}

.sidebar footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px;
}

.sidebar footer * {
  vertical-align: middle;
}

.sidebar footer span {
  opacity: 0.3;
}

.sidebar footer img {
  width: 20px;
  height: 20px;
}

main {
    width: 100%;
    max-width: 1000px;
    padding: 50px 2vw;
    background: #EEE;
}

main > .wrap {
    width: 92%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

main .ui.table .icon img {
    width: 32px;
    height: 32px;
}

main .ui.table .icon.winner-0 img {
    opacity: 0.5;
}

main .ui.table .name.winner-1 {
    font-weight: bold;
    color: #f54f41;
}

.ui.button {
    background: #f54f41;
    color: white;
}

.ui.button:hover {
    background: #e34022;
    color: white;
}

.saltymeter .score {
    font-weight: bold;
}

body.games .ui.table {
    max-width: 600px;
}

body.gamesAdd .ui.card {
    width: 100%;
}

.ui.two.cards > .card.saltymeter {
    width: calc(35% - 2em);
}

.ui.two.cards > .card.games {
    width: calc(65% - 2em);
}
