footer {
  font-size: 0.8em;

  * {
    vertical-align: middle;
  }

  a {
    text-decoration: none;
  }

  img {
    position: relative;
    bottom: 3px;
    width: 20px;
    height: 20px;
  }


  /*  MEDIA QUERIES
  ----------------------*/

  @media (max-width: $layout-switch-threshold)
  {
    text-align: center;
    margin: 30px 0;

    span {
      color: #AAA;
      text-shadow: 0 1px 0 white;
    }
  }

  @media (min-width: $layout-switch-threshold)
  {
    $left-offset: 20px;

    position: fixed;
    width: $sidebar-width - ($sidebar-border-width + $left-offset * 2);
    left: $sidebar-border-width + $left-offset;
    top: calc(100vh - 40px);
    z-index: 300;

    span {
      color: $primary-1-dark;
      text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    }

  }
}
