
.ui.cards {
  display: flex;
  flex-direction: column;
}

.ui.card {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: $card-padding;
  background: white;
  border-radius: 2px;
  box-shadow: 0 1px 5px #CCC;

  > h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }

  &.no-padding {
    padding: 0;
  }
}

@mixin switchCardMargins {
  .ui.card + .ui.card {
    margin-top: 0;
    margin-left: $card-spacing;
  }
}

@media (max-width: $layout-switch-threshold)
{
  .ui.card + .ui.card {
    margin-top: $card-spacing;
  }
}

@media (min-width: $layout-switch-threshold)
{
  .ui.two.cards {
    flex-direction: row;

    @include switchCardMargins;
  }
}

@media (min-width: $layout-switch-threshold + 200)
{
  .ui.three.cards {
    flex-direction: row;

    @include switchCardMargins;
  }
}
